
PropertyChangedBug/packages/Fody.6.3.0/.signature.p7s
PropertyChangedBug/packages/Fody.6.3.0/build/Fody.targets
PropertyChangedBug/packages/Fody.6.3.0/Fody.6.3.0.nupkg
PropertyChangedBug/packages/Fody.6.3.0/License.txt
PropertyChangedBug/packages/Fody.6.3.0/netclassictask/Fody.dll
PropertyChangedBug/packages/Fody.6.3.0/netclassictask/FodyCommon.dll
PropertyChangedBug/packages/Fody.6.3.0/netclassictask/FodyHelpers.dll
PropertyChangedBug/packages/Fody.6.3.0/netclassictask/FodyIsolated.dll
PropertyChangedBug/packages/Fody.6.3.0/netclassictask/Mono.Cecil.dll
PropertyChangedBug/packages/Fody.6.3.0/netclassictask/Mono.Cecil.pdb
PropertyChangedBug/packages/Fody.6.3.0/netclassictask/Mono.Cecil.Pdb.dll
PropertyChangedBug/packages/Fody.6.3.0/netclassictask/Mono.Cecil.Pdb.pdb
PropertyChangedBug/packages/Fody.6.3.0/netclassictask/Mono.Cecil.Rocks.dll
PropertyChangedBug/packages/Fody.6.3.0/netclassictask/Mono.Cecil.Rocks.pdb
PropertyChangedBug/packages/Fody.6.3.0/netstandardtask/Fody.dll
PropertyChangedBug/packages/Fody.6.3.0/netstandardtask/FodyCommon.dll
PropertyChangedBug/packages/Fody.6.3.0/netstandardtask/FodyHelpers.dll
PropertyChangedBug/packages/Fody.6.3.0/netstandardtask/FodyIsolated.dll
PropertyChangedBug/packages/Fody.6.3.0/netstandardtask/Mono.Cecil.dll
PropertyChangedBug/packages/Fody.6.3.0/netstandardtask/Mono.Cecil.pdb
PropertyChangedBug/packages/Fody.6.3.0/netstandardtask/Mono.Cecil.Pdb.dll
PropertyChangedBug/packages/Fody.6.3.0/netstandardtask/Mono.Cecil.Pdb.pdb
PropertyChangedBug/packages/Fody.6.3.0/netstandardtask/Mono.Cecil.Rocks.dll
PropertyChangedBug/packages/Fody.6.3.0/netstandardtask/Mono.Cecil.Rocks.pdb
PropertyChangedBug/packages/PropertyChanged.Fody.3.3.2/.signature.p7s
PropertyChangedBug/packages/PropertyChanged.Fody.3.3.2/build/PropertyChanged.Fody.props
PropertyChangedBug/packages/PropertyChanged.Fody.3.3.2/lib/net40/PropertyChanged.dll
PropertyChangedBug/packages/PropertyChanged.Fody.3.3.2/lib/net40/PropertyChanged.xml
PropertyChangedBug/packages/PropertyChanged.Fody.3.3.2/lib/netstandard1.0/PropertyChanged.dll
PropertyChangedBug/packages/PropertyChanged.Fody.3.3.2/lib/netstandard1.0/PropertyChanged.xml
PropertyChangedBug/packages/PropertyChanged.Fody.3.3.2/lib/netstandard2.0/PropertyChanged.dll
PropertyChangedBug/packages/PropertyChanged.Fody.3.3.2/lib/netstandard2.0/PropertyChanged.xml
PropertyChangedBug/packages/PropertyChanged.Fody.3.3.2/PropertyChanged.Fody.3.3.2.nupkg
PropertyChangedBug/packages/PropertyChanged.Fody.3.3.2/weaver/PropertyChanged.Fody.dll
PropertyChangedBug/packages/PropertyChanged.Fody.3.3.2/weaver/PropertyChanged.Fody.xcf
PropertyChangedBug/obj/Debug/PropertyChangedBug.pdb
PropertyChangedBug/obj/Debug/PropertyChangedBug.dll
PropertyChangedBug/obj/Debug/PropertyChangedBug.csproj.FileListAbsolute.txt
PropertyChangedBug/obj/Debug/PropertyChangedBug.csproj.CoreCompileInputs.cache
PropertyChangedBug/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PropertyChangedBug/.vs/PropertyChangedBug/v16/.suo
